字符串生成：

In [1]:
"hello"

'hello'

In [2]:
'hello'

'hello'

In [3]:
"i'm good"

"i'm good"

字符串的方法：

In [4]:
line = "1 2 3        4      5"

In [5]:
line

'1 2 3        4      5'

In [6]:
line.split()

['1', '2', '3', '4', '5']

In [7]:
line = "1,2,3,4,5"
line.split(",")

['1', '2', '3', '4', '5']

In [8]:
line.split(",", 2)

['1', '2', '3,4,5']

In [9]:
line.rsplit(",", 2)

['1,2,3', '4', '5']

In [10]:
numbers = ['1', '2', '3', '4', '5']

In [11]:
",".join(numbers)

'1,2,3,4,5'

In [12]:
":".join(numbers)

'1:2:3:4:5'

In [13]:
s = "hello world!"

In [14]:
s.replace("world", "python")

'hello python!'

In [15]:
s

'hello world!'

In [16]:
line = "1,2,3,4,5"

In [17]:
line.replace(",", ":")

'1:2:3:4:5'

In [18]:
line.replace(",", ":", 2)

'1:2:3,4,5'

In [19]:
s

'hello world!'

In [20]:
s.upper()

'HELLO WORLD!'

In [21]:
s.upper().lower()

'hello world!'

In [22]:
s = "   hello world   "

In [23]:
s.strip()

'hello world'

In [24]:
s.lstrip()

'hello world   '

In [25]:
s.rstrip()

'   hello world'

多行字符串的生成：

In [28]:
a = """line 0
this is line 1
this is line 2
行3
行4
"""

In [29]:
a

'line 0\nthis is line 1\nthis is line 2\n行3\n行4\n'

代码换行：

In [30]:
a = ("hello world. "
     "this is a good day. "
     "my name is li jin")

In [31]:
a

'hello world. this is a good day. my name is li jin'

In [32]:
a = "hello world. " \
    "this is a good day. " \
    "my name is li jin"

In [33]:
a

'hello world. this is a good day. my name is li jin'

数字的转化：

In [34]:
str(3.2)

'3.2'

In [35]:
str(12)

'12'

In [36]:
bin(2)

'0b10'

In [37]:
oct(8)

'0o10'

In [38]:
hex(16)

'0x10'

In [39]:
int("16")

16

In [40]:
float("16")

16.0

In [43]:
ord("a")

97

In [44]:
chr(97)

'a'

In [45]:
ord("我")

25105

In [46]:
chr(25105)

'我'

字符串的格式化：

In [48]:
name = "li jin"
age = 26

print("my name is " + name + ", age is " + str(age) + ".")

my name is li jin, age is 26.

In [49]:
"my name is {} age is {}.".format(name, age)

'my name is li jin age is 26.'

In [53]:
"{a}的立方是{b}".format(b=3**3, a=3)

'3的立方是27'